<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div class="center-box">
      <h1>Welcome to the Blogging Community Platform!</h1>
      <p>
        Discover amazing stories, share your thoughts, and connect with fellow
        enthusiasts. Let's dive into the world of blogging!
      </p>
      <div class="button-container">
        <a href="/author" class="button">Author Home Page</a><br /><br />
        <a href="/reader" class="button">Reader Home Page</a>
      </div>
    </div>
  </body>
</html>
